.shopHeader {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shopHeader h1 {
  font-size: 4rem;
  font-weight: bold;
}
